.footer {
  background-color: #0d0d0d;
  padding: 70px 20px 20px;    /* ¡Que sea al menos el alto del botón! */
  color: white;
  border-top: 5px solid #7EC144;
  overflow: visible !important;
  position: relative;
  z-index: 1;
}



.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer-col {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col h4 {
  margin-bottom: 20px;
  color: #7EC144;
}

.footer-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.footer-item img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
